.rate-state {
  img {
    margin-bottom: 25px;
    background-color: $tertiary-bg-color;
    border-radius: 100px;
    padding: 15px;
  }
  .rate-state__title {
    font-size: $large-font-size;
    color: $white;
    font-weight: bold;
  }
  .rate-state__description {
    font-size: $base-font-size;
    color: $medium-grey;
    font-weight: 400;
    line-height: 1.6;
    margin: 10px 0 20px;
  }
}
