.thank-state {
  text-align: center;

  img {
    margin: 30px 10px;
  }
  h5 {
    color: $primary-color;
  }
  h3 {
    color: $white;
    margin: 20px 0 10px;
    font-size: $large-font-size;
  }
  p {
    color: $medium-grey;
  }
}
