.rate-state__rating {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  justify-content: space-between;
  button {
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 10px;
    color: $light-grey;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.3s ease;
    background: $secondary-color;
    &:hover {
      background: $medium-grey;
      color: $white;
    }
    &.active {
      background: $primary-color;
      color: $white;
    }
  }
}
