* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-family;
}

.content {
  width: 100%;
  min-height: 100vh;
  min-width: 280px;
  background: $primary-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .card {
    max-width: 365px;
    padding: 20px;
    background: $secondary-bg-color;
  }
}
